pcss-models/src/main/resources/xsdSchemas/pcss-civil-models-3.xsd

<xsd:schema targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/civil/v1"
            xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            xmlns:v1="http://courts.gov.bc.ca/xml/ns/pcss/civil/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"/>

    <xsd:element name="getPing">
        <xsd:complexType >
            <xsd:sequence></xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealth">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealthResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="appid" nillable="true" type="xsd:string"/>
                <xsd:element name="method" nillable="true" type="xsd:string"/>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
                <xsd:element name="host" nillable="true" type="xsd:string"/>
                <xsd:element name="instance" nillable="true" type="xsd:string"/>
                <xsd:element name="version" nillable="true" type="xsd:string"/>
                <xsd:element name="compatibility" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getAppearanceCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilRequest" nillable="true" type="v1:getAppearanceCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getAppearanceCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilResponse" nillable="true" type="v1:getAppearanceCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilApprMethod">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilApprMethodRequest" nillable="true"
                             type="v1:getAppearanceCivilApprMethodRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getAppearanceCivilApprMethodRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilApprMethodRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAppearanceCivilApprMethodResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilApprMethodResponse" nillable="true"
                             type="v1:getAppearanceCivilApprMethodResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilApprMethodResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilApprMethodResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilDocumentRequest" nillable="true"
                             type="v1:getAppearanceCivilDocumentRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getAppearanceCivilDocumentRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilDocumentRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilDocumentResponse" nillable="true"
                             type="v1:getAppearanceCivilDocumentResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilDocumentResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilDocumentResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilParty">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilPartyRequest" nillable="true"
                             type="v1:getAppearanceCivilPartyRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilPartyRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilPartyRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilPartyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilPartyResponse" nillable="true"
                             type="v1:getAppearanceCivilPartyResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilPartyResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilPartyResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilResource">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilResourceRequest" nillable="true"
                             type="v1:getAppearanceCivilResourceRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilResourceRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilResourceRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCivilResourceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCivilResourceResponse" nillable="true"
                             type="v1:getAppearanceCivilResourceResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCivilResourceResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCivilResourceResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCivilAppearance">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCivilAppearanceRequest" nillable="true"
                             type="v1:getSyncCivilAppearanceRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getSyncCivilAppearanceRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCivilAppearanceRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCivilAppearanceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCivilAppearanceResponse" nillable="true"
                             type="v1:getSyncCivilAppearanceResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getSyncCivilAppearanceResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCivilAppearanceResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCivilHearingRestriction">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCivilHearingRestrictionRequest" nillable="true"
                             type="v1:getSyncCivilHearingRestrictionRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getSyncCivilHearingRestrictionRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCivilHearingRestrictionRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCivilHearingRestrictionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCivilHearingRestrictionResponse" nillable="true"
                             type="v1:getSyncCivilHearingRestrictionResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSyncCivilHearingRestrictionResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCivilHearingRestrictionResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceCivilRequest" nillable="true" type="v1:setAppearanceCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceCivilResponse" nillable="true" type="v1:setAppearanceCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMethodCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMethodCivilRequest" nillable="true"
                             type="v1:setAppearanceMethodCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceMethodCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMethodCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMethodCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMethodCivilResponse" nillable="true"
                             type="v1:setAppearanceMethodCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceMethodCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMethodCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCounselDetailCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCounselDetailCivilRequest" nillable="true"
                             type="v1:setCounselDetailCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setCounselDetailCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCounselDetailCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCounselDetailCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCounselDetailCivilResponse" nillable="true"
                             type="v1:setCounselDetailCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCounselDetailCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCounselDetailCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setHearingRestrictionCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setHearingRestrictionCivilRequest" nillable="true"
                             type="v1:setHearingRestrictionCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setHearingRestrictionCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setHearingRestrictionCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setHearingRestrictionCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setHearingRestrictionCivilResponse" nillable="true"
                             type="v1:setHearingRestrictionCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setHearingRestrictionCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setHearingRestrictionCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileDetailCivil">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileDetailCivilRequest" nillable="true" type="v1:getFileDetailCivilRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFileDetailCivilRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileDetailCivilRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileDetailCivilResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileDetailCivilResponse" nillable="true" type="v1:getFileDetailCivilResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getFileDetailCivilResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileDetailCivilResponse"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
